.card{
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    transition: all 0.3s ease-out;
    cursor: pointer;
}
@media (max-width: 600px) {
    .card{
    width: 180px;
    }
}

.img{
  width: 100%;
  height: 300px;
  border-radius: 6px;
  object-fit: cover;
  transition: all 0.3s ease-out;
}
@media (max-width: 600px) {
    .img{
    height: 180px;
    }
  }

.menu{
    position: absolute;
    z-index: 100;
    color:#404040;
    top: 14px;
    right: 14px;
    flex-direction: column;
    gap: 10px;
    display: none;
}
.top{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 6px;
  transition: all 0.3s ease-out;
}

.top:hover {
    background-color:black;
}

.img:hover{
    opacity: 0.9;
}
.top:hover .menu {
    display: flex;
}
.menuItems{
  border-radius: 50%;
  width: 18px;
  height: 18px;
  background: white;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 200;
}

.rate{
    position: absolute;
    z-index: 10;
    color: #404040  ;
    bottom: 8px;
    left: 8px;
    padding: 4px 8px;
    border-radius: 4px;
    background: white;
    display: flex;
    align-items: center;
    opacity: 0.9;
}
.details{
  display: flex;
  gap: 6px;
  flex-direction: column;
  padding: 4px 10px;
}
.title{
    font-size: 16px;
    font-weight: 700;
    color: #404040;
}
.descp{
    font-size: 16px;
    font-weight: 400;
    color: #404040;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    white-space: normal;
}
.price{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
    font-weight: 500;
    color: #404040;
}
.percent{
    font-size: 12px;
    font-weight: 500;
    color: green;
}
.span{
    font-size: 14px;
    font-weight: 500;   
    color:  #8a8787;
    text-decoration: line-through;
    text-decoration-color: #8a8787;
}
.rating{
    font-size: 14px;
}
.FavoriteRounded{
    font-size: 20px;
    color:red;
}
.ShoppingBagOutlined{
    font-size: 20px;
}
.FavoriteBorder{
    font-size: 20px;
}